* {
  margin: 0;
  padding: 0;
}
.fixed {
  position: absolute;
}
.icon {
  min-width: 60px;
  align-content: stretch;
}
.main-block {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20vh;
  border: 3px solid rgb(161, 159, 159);
  .left-bar {
    background-color: rgb(54, 161, 216);
    flex-basis: 35%;
    .avatar-wrapper {
      position: relative;
      .avatar {
        width: 100%;
      }
      .name-block {
        font-size: 1.7rem;
        text-align: right;
        font-weight: 800;
        color: #ffffff;
        padding: 0.6rem;
        right: 0;
        bottom: 0;
        text-shadow: black 2px 2px 3px;
      }
    }
    .contact-info-wrapper {
      color: #ffffff;
      padding: 1rem 1rem 1rem 0.5rem;
      .intro {
        display: flex;
        padding: 1rem 0;
        & p {
          text-align: justify;
        }
        .link a {
          display: block;
          padding: 0.3rem 0;
          text-decoration: none;
          color: inherit;
        }
      }
      .social {
        padding: 1rem 0;
        section {
          display: flex;
          & > a {
            padding: 0.3rem 0;
            color: inherit;
            display: block;
            text-decoration: none;
          }
        }
      }
      .skills {
        padding: 1rem 0;
        display: flex;
        .skill {
          
        }
      }
    }
  }


  .personal-info {
    flex-basis: 65%;
  }
}
